.container {
    border: 2px solid #333;
    margin: 10px 20px;
    padding: 10px;
}

.container h2 {
    margin: 0 5;
    font-size: 35px;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 5px auto;
    min-height: 100px;
    padding: auto;
}

.charcoal {
    color: #fff;
    background-color: #333;
    border: 0.5px solid #333;
}

.white {
    color: #333;
    background-color: #fff;
    border: 0.5px solid #333;
}

.ash-grey {
    color:#333;
    background-color: #B2BEB5;
    border: 0.5px solid #333;
}