html, body {
  margin: 0;
  padding: 0;
  font-family: "Koulen";
  box-sizing: border-box;
}

header {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav {
  margin: 0;
  padding: 5px 0;
}

.nav-bar {
  display: inline-block;
  color: #fff;
  padding: 0 5;
}

.nav-links {
  width: 80px;
  font-size: 14px;
  text-align: center
}

.nav-links a {
  color:#fff;
}

.nav-links a:hover {
  color: #333;
  background-color: #fff;
  text-decoration: none;
}

.nav-links a:active {
  color:#333;
  background-color: #B2BEB5;
  text-decoration: none;
}

.page-title {
  font-weight: lighter;
  margin: 0 10;
  text-align: center;
  font-size: 60px;
  color: #fff
}

main {
  position: relative;
  top: 125;
}

.main-heading {
  font-size: 45px;
  margin: 0 20;
}
