html, body {
  margin: 0;
  padding: 0;
  font-family: "Koulen";
}

header {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav {
  margin: 0;
  padding: 5px 0;
}

.nav-bar {
  display: inline-block;
  color: #fff
}

.nav-links {
  width: 80px;
  font-size: 14px;
}

.page-title {
  font-weight: lighter;
  margin: 0 10;
  text-align: center;
  font-size: 60px;
  color: #fff
}

main {
  position: relative;
  top: 160;
}
